.navbar {
  background-color: #515151;
  padding: 1rem;
  margin-bottom: 2rem;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
} 

.navbar-link:hover {
  color: #afafaf;
}

.navbar-title {
  color: white;
  font-size: 1.1rem;
  font-weight: 1000;
}

.navbar-list li:last-child {
  margin-left: auto;
}