.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-title {
  color: white;
  font-size: 1.5rem;
  margin-right: auto; /* Pushes other items to the right */
}

.navbar-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
}

.navbar-link:hover {
  background-color: #555;
}
