.header-content {
    padding-top: 70px;
  }
  
  @media screen and (max-width: 641px) {
    .header-content {
      padding-top: 100px;
    }
  }
  
  @media screen and (max-width: 432px) {
    .header-content {
      padding-top: 125px;
    }
  }